#about-us h3 {
	color:#5B463D;
	font-size: 34px;
}

#about-us p {
	color:#5B463D;
	font-size: 16px;
}

.about-us-image {
	width: 430px;
	height: 600px;
}

@media only screen and (min-width: 480px) {
	#about-us h3 {
		font-size: 44px;
	}
}

@media only screen and (min-width: 768px) {
	#about-us h3 {
		font-size: 54px;
	}

	#about-us p {
		font-size: 20px;
	}
}
