#testimonials {
	background-color: #fbfbfb;
}

#testimonials h3 {
	color:#5B463D;
	font-size: 34px;
}

.testimonialsSwiper {
	height: 450px;
	width: 100%;
}

.testimonial {
	background-color: #F7F1F1;
	height: 350px;
	margin-top: 100px;
}

.testimonial-customer {
	color: #5B463D;
	font-size: 18px;
}

.testimonial-text {
	color: #5B463D;
	font-size: 14px;
	height: 105px;
	overflow-y: auto;
}

.testimonial img {
	height: 150px;
	width: 150px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.rating {
	color: #FFBA70;
}

@media only screen and (min-width: 480px) {
	#testimonials h3 {
		font-size: 44px;
	}
}

@media only screen and (min-width: 640px) {
	.testimonialsSwiper {
		height: 650px;
	}

	.testimonial {
		height: 450px;
		margin-top: 150px;
	}

	.testimonial-customer {
		font-size: 26px;
	}

	.testimonial-text {
		font-size: 18px;
		height: 190px;
	}
}

@media only screen and (min-width: 768px) {
	#testimonials h3 {
		font-size: 54px;
	}

	.testimonial img {
		height: 200px;
		width: 200px;
	}
}
