#testimonials {
	background-color: #E7E4E4;
}

#testimonials h3 {
	color:#5B463D;
	font-size: 34px;
}

.testimonialsSwiper {
	height: 500px;
	width: 100%;
}

.testimonial {
	border-radius: 70px;
	height: 400px;
}

.testimonial-text {
	color: #5B463D;
	font-size: 16px;
}

.testimonial-customer {
	color: #5B463D;
	font-size: 12px;
}

.testimonial img {
	height: 150px;
	width: 150px;
}

@media only screen and (min-width: 480px) {
	#testimonials h3 {
		font-size: 44px;
	}

	.testimonial img {
		height: 200px;
		width: 200px;
	}
}

@media only screen and (min-width: 640px) {
	.testimonial-text {
		font-size: 18px;
	}

	.testimonial-customer {
		font-size: 14px;
	}
}

@media only screen and (min-width: 768px) {
	#testimonials h3 {
		font-size: 54px;
	}

	.testimonialsSwiper {
		height: 400px;
	}

	.testimonial {
		height: 300px;
	}
}

@media only screen and (min-width: 1024px) {
	.testimonial-text {
		font-size: 24px;
	}

	.testimonial-customer {
		font-size: 18px;
	}
}
