/**
 * Custom `@font-face` rules
 *
 * These will be added immediately before Tailwind’s `base` layer.
 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');

 body {
	font-family: 'Poppins', sans-serif !important;
 }

@font-face {
	font-family: 'Krylon';
	src: url('../theme/assets/fonts/Krylon-Regular.otf') format('opentype'),
	url('../theme/assets/fonts/Krylon-Regular.woff') format('woff');
}

 .secondary-font {
	font-family: 'Krylon', sans-serif;
 }
